.content {
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.openButton {
    padding: 70px 100px;
    border: 4px solid;
}

.openButton__icon {
    font-size: 54px;
}

.buttonsContainer {
    justify-content: end;
    gap: 8px;
}